:root {
  --pokefever-bg-gray: #fdfdfd;
  --pokefever-hero-bg: var(--pokefever-bg-gray);
}

.bg-gray {
  background-color: var(--pokefever-bg-gray);
}

.pokefever-bg-overlay {
  position: relative;
  overflow: hidden;

  &::before {
    background: var(--pokefever-hero-bg);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    z-index: -1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

body {
  min-height: 100vh;
  position: relative;
  background: var(--pokemon-linear-gradient);
}

body::before {
  content: " ";
  display: block;
  position: absolute;
  background-image: var(--pokefever-provider-bg-decoration);
  background-repeat: no-repeat;
  background-position: top right;
  opacity: 0.08;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pokemon-image {
  position: relative;
  text-align: center;
  z-index: 1000;

  &::after {
    width: 60%;
    margin: -80px auto 20px auto;
    opacity: 0.5;
    display: block;
    height: 60px;
    border-radius: 100%;
    background-color: #000;
    content: " ";
    z-index: 1000;
  }

  img {
    position: relative;
    z-index: 1010;
  }
}
