// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$yellow: #fbc531; // Thats a sample how you could change a BootStrap variable.
$primary: $yellow; // Once we've changed the value, we'll also make it the primary brand color.

$enable-negative-margins: true; // Enables negative margins for all breakpoints.
$tertiary: $yellow; // Change the tertiary color to yellow